body{
    border: radius 2px;
    background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/546170/ca0a0d7ac22a154c85da48b05ca77ba571e5f168.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}