body{
    border: radius 2px;;
    background-image: url('https://i.pinimg.com/originals/6e/6a/00/6e6a00eb540f087edae078afec8156b8.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form{
    align-items: center;
    font-size: 1.5rem;
    margin-top: 23rem;
    margin-left: 14rem;
}

h1{
    color: rgb(255, 0, 0);
    font-size: 4rem;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}