body{
    border: radius 2px;
    background-image: url('https://images2.alphacoders.com/201/thumb-1920-201532.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title{
    color: ;
}